<footer id="footer" class="footer-1">
    <img src="assets/img/cortina-izquierda-1.png" class="cortina decorativa" alt="cortina" />
    <div class="footer-container">

        <!-- Bloque central: Logo, Contacto, Redes -->
        <div class="footer-central">
            <img src="assets/img/logo_proroller.png" alt="Logo ProRoller" class="logo-footer" />

            <div class="footer-contacto">
                <h3 class="footer-title">Contacto</h3>
                <p>095113560 | 096239831</p>
                <p><a href="mailto:proroller.uy@gmail.com">proroller.uy@gmail.com</a></p>
            </div>

            <div class="footer-social">
                <a title="WhatsApp" href="#" onclick="wppServicios()">
                    <img src="assets/img/whatsapp.png" alt="WhatsApp" />
                </a>
                <a title="Instagram" target="_blank" href="https://www.instagram.com/proroller.uy/">
                    <img src="assets/img/instagram.png" alt="Instagram" />
                </a>
            </div>
        </div>

        <!-- Créditos -->
        <div class="footer-bottom">
            <div class="footer-powered">
                <img src="assets/img/logo-bitbros.png" alt="Logo BitBros" />
                <a href="https://bitbros.uy/" target="_blank"></a>
            </div>
            <p>© {{anio}} Todos los derechos reservados</p>
        </div>

    </div>
    <img src="assets/img/cortina-derecha-1.png" class="cortina decorativa" alt="cortina" />
</footer>