<section id="servicios" class="servicios">
    <img src="assets/img/cortina-izquierda-2.png" class="cortina decorativa" alt="cortina" />
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">SERVICIOS</h2>

        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card d-flex">
                    <img src="../../../assets/img/confeccion.png" class="imgService" alt="Confección" />
                    <div class="card-block">
                        <h3 class="card-title">Confección</h3>
                        <p class="card-text">Confeccionamos cortinas roller y tradicionales</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card d-flex">
                    <img src="../../../assets/img/instalacion.png" class="imgService" alt="instalación" />
                    <div class="card-block">
                        <h3 class="card-title">Instalación</h3>
                        <p class="card-text">Instalamos cortinas de todo tipo</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card d-flex">
                    <img src="../../../assets/img/automatismos.png" class="imgService" alt="Automatismos" />
                    <div class="card-block">
                        <h3 class="card-title">Automatismos</h3>
                        <p class="card-text">Automatizamos tus cortinas.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card d-flex">
                    <img src="../../../assets/img/amedida.png" class="imgService" alt="Confección a medida" />
                    <div class="card-block">
                        <h3 class="card-title">A medida</h3>
                        <p class="card-text">Confeccionamos cortinados a medida y de acuerdo a tus necesidades</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card d-flex">
                    <img src="../../../assets/img/variedad.png" class="imgService" alt="Variedad de materiales" />
                    <div class="card-block">
                        <h3 class="card-title">Variedad</h3>
                        <p class="card-text">Contamos con una amplia variedad de materiales de distintas calidades.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card d-flex">
                    <img src="../../../assets/img/vamos.png" class="imgService" alt="Vamos" />
                    <div class="card-block">
                        <h3 class="card-title">Vamos a donde necesites</h3>
                        <p class="card-text">Contanos cuál es tu necesidad y te brindamos la mejor solución.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/cortina-derecha-2.png" class="cortina decorativa" alt="cortina" />
</section>