/**********************
/***** Services *******
/*********************/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
    z-index: 8;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Comic Neue", cursive;
}

.progress {
    display: none;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.controls[_ngcontent-puu-c2] .menu[_ngcontent-puu-c2] {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
}
